Repository pagopa/arc-infra, pull requests merged in 2024-10, with the labels that each got.

#37 feat: P4PU-567 security@prod & new sops
  scripts/sops.sh
  scripts/terrasops.sh
  src/02_security/.terraform.lock.hcl
  src/02_security/00_azdo.tf
  src/02_security/01_core_security.tf
  src/02_security/02_init_sops.tf
  src/02_security/02_key_secret.tf
  src/02_security/99_locals.tf
  src/02_security/99_main.tf
  src/02_security/README.md
Labels: applied uat, applied dev, applied prod

#35 feat: P4PU-566 network@prod
  src/01_networking/.terraform.lock.hcl
  src/01_networking/99_locals.tf
  src/01_networking/99_main.tf
  src/01_networking/99_variables.tf
  src/01_networking/README.md
  src/01_networking/env/itn-dev/terraform.tfvars
  src/01_networking/env/itn-prod/terraform.tfvars
  src/01_networking/env/itn-uat/terraform.tfvars
Labels: applied uat, applied dev, applied prod

#39 fix: Cittadini access policy
  src/06_domains/cittadini-secrets/01_security.tf
Labels: applied uat, applied dev

#40 chore: [P4PU-592] updated environment postman and updated security
  src/06_domains/cittadini-secrets/01_security.tf
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied uat, applied dev

#42 chore: [P4PU-635] added workbook resource
  src/06_domains/cittadini-app/00_data.tf
  src/06_domains/cittadini-app/05_workbook.tf
  src/06_domains/cittadini-app/README.md
  src/06_domains/cittadini-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied uat, applied dev

#41 feat: P4PU-548 add redis
  src/01_networking/02_private_network.tf
  src/01_networking/README.md
  src/06_domains/cittadini-common/00_data.tf
  src/06_domains/cittadini-common/05_redis.tf
  src/06_domains/cittadini-common/99_variables.tf
  src/06_domains/cittadini-common/README.md
  src/06_domains/cittadini-common/env/itn-dev/terraform.tfvars
  src/06_domains/cittadini-common/env/itn-uat/terraform.tfvars
Labels: applied uat, applied dev

#44 feat: P4PU-633 add e2e credentials
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied uat, applied dev

#47 feat: [P4PU-650] added secret for slack
  src/06_domains/cittadini-secrets/.terraform.lock.hcl
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/win_sops.sh
  src/06_domains/cittadini-secrets/win_terraform.sh
Labels: applied uat, applied dev

#49 fix: [P4PU-655] updated query Availability
  src/06_domains/cittadini-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied uat, applied dev

#51 feat: P4PU-570 aks@prod
  .terraform-version
  src/01_networking/00_data.tf
  src/01_networking/99_main.tf
  src/01_networking/README.md
  src/02_security/99_main.tf
  src/02_security/README.md
  src/03_packer/.terraform.lock.hcl
  src/03_packer/99_main.tf
  src/03_packer/README.md
  src/04_core/.terraform.lock.hcl
  src/04_core/99_main.tf
  src/04_core/README.md
  src/05_aks/.terraform.lock.hcl
  src/05_aks/99_main.tf
  src/05_aks/README.md
  src/05_aks/env/itn-prod/backend.ini
  src/05_aks/env/itn-prod/backend.tfvars
  src/05_aks/env/itn-prod/terraform.tfvars
  src/06_domains/cittadini-app/.terraform.lock.hcl
  src/06_domains/cittadini-app/99_main.tf
  src/06_domains/cittadini-app/env/itn-dev/terraform.tfvars
  src/06_domains/cittadini-app/env/itn-uat/terraform.tfvars
  src/06_domains/cittadini-common/.terraform.lock.hcl
  src/06_domains/cittadini-common/99_main.tf
  src/06_domains/cittadini-common/README.md
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied prod
