Repository pagopa/arc-infra, pull requests merged in 2024-11, with the labels that each got.

#55 fix: [P4PU-538] removed transactions secrets and updated config maps
  src/06_domains/cittadini-app/04_k8s_configmaps.tf
  src/06_domains/cittadini-app/99_variables.tf
  src/06_domains/cittadini-app/env/itn-dev/terraform.tfvars
  src/06_domains/cittadini-app/env/itn-prod/terraform.tfvars
  src/06_domains/cittadini-app/env/itn-uat/terraform.tfvars
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied uat, applied dev, applied prod

#59 fix: P4PU-684 node pool name@prod
  scripts/pre-commit.sh
  src/01_networking/README.md
  src/02_security/README.md
  src/03_packer/README.md
  src/04_core/README.md
  src/05_aks/.terraform.lock.hcl
  src/05_aks/README.md
  src/05_aks/env/itn-prod/terraform.tfvars
  src/06_domains/cittadini-common/README.md
Labels: applied prod

#60 feat: [P4PU-671] added allarm for ram availability
  src/06_domains/cittadini-app/.terraform.lock.hcl
  src/06_domains/cittadini-app/12_alert.tf
Labels: applied uat, applied dev, applied prod

#61 fix: [P4PU-675] fix workbook timespan and external service
  src/06_domains/cittadini-app/README.md
  src/06_domains/cittadini-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied uat, applied dev

#64 chore: [P4PU-689] updated secret values for dev and uat
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied uat, applied dev

#63 feat: [P4PU-680] added allarm for redis
  src/06_domains/cittadini-app/00_data.tf
  src/06_domains/cittadini-app/12_alert.tf
Labels: applied uat, applied dev

#66 feat: Update oneid@prod
  src/06_domains/cittadini-secrets/secret/itn-prod/noedit_secret_enc.json
Labels: applied prod

#67 fix: [P4PU-686] updated arc help center url
  src/06_domains/cittadini-app/.terraform.lock.hcl
  src/06_domains/cittadini-app/04_k8s_configmaps.tf
Labels: applied uat, applied dev, applied prod

#70 fea: Add cf to whitelist
  src/06_domains/cittadini-secrets/secret/itn-prod/noedit_secret_enc.json
Labels: applied prod

#69 fix: [P4PU-688] updated query workbook and alert availability
  src/06_domains/cittadini-app/12_alert.tf
  src/06_domains/cittadini-app/workbooks/OPEXWorkbook.json.tpl
Labels: applied uat, applied dev, applied prod

#76 feat: [P4PU-674] added connection string secret
  src/06_domains/cittadini-secrets/secret/itn-dev/noedit_secret_enc.json
  src/06_domains/cittadini-secrets/secret/itn-uat/noedit_secret_enc.json
Labels: applied uat, applied dev

#75 feat: P4PU-701 prometheus install
  src/05_aks/02_aks_storage.tf
  src/05_aks/03_prometheus.tf
  src/05_aks/README.md
  src/05_aks/env/itn-dev/terraform.tfvars
Labels: applied dev

#77 feat: Add cf whitelist@prod
  src/06_domains/cittadini-secrets/secret/itn-prod/noedit_secret_enc.json
Labels: applied prod

#78 fix: [P4PU-759] update organization for assistance
  src/06_domains/cittadini-app/04_k8s_configmaps.tf
Labels: applied uat, applied dev, applied prod
